/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 50%);
}

#navigation {
  display: flex;
  justify-content: center;
  background-color: hsl(0, 0%, 10%);
}

#navigation li {
  list-style: none;
}

#navigation li a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}
