/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 50%);
}

/* * Navigation Styling */

#menu-icon:hover {
  cursor: pointer;
}

#navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 20%, 0.6);
  padding: 4rem 2rem;
}

#navigation li {
  list-style: none;
}

#navigation li a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}

/* * Menu Styling */
#menu-icon {
}

#menu-icon img {
  width: 5rem;
  height: 5rem;
}

@media screen and (min-width: 768px) {
  #navigation {
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 10%);
  }
}
